# AWS
AWS_DEFAULT_REGION=us-east-1
AWS_S3_BUCKET=sus-data-pipeline-kvgs
AWS_ATHENA_STAGING=s3://sus-data-pipeline-kvgs/athena-results/

# Google Cloud
GOOGLE_APPLICATION_CREDENTIALS=/home/kellivgs/gcp-key.json
GOOGLE_CLOUD_PROJECT=sus-saude-mental

# Athena
ATHENA_DATABASE=sus_pipeline